#ignore root files and root directories, ignore everything
/*
/*/

#Enable Specific directory, disable everything inside this directory
!/iMX6Rex Module - Memory Simulation
/iMX6Rex Module - Memory Simulation/*
/iMX6Rex Module - Memory Simulation/*/

#Always enable
!.gitignore
!/**/*.brd
!/**/*.ibs

#Always disable
/**/*AUTOSAVE*
/**/*TMP*